.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.article img {
  width: 70%;
  height: auto;
}
.article a {
  text-decoration: none;
  color: #bfbfbf;
  padding: 10px;
}
.article a:hover {
  color: white;
}
h2 {
  padding: 20px 0;
}
h1 {
  text-align: center;
  padding: 20px;
}
.articleReturn {
  font-family: "Raleway";
  text-align: center;

  color: #bfbfbf;
  padding: 0 40px;
}
.articleReturn p:nth-child(5) {
  padding: 20px;
}
.articleReturn a {
  text-decoration: none;
  color: #bfbfbf;
}
.articleReturn a:hover {
  color: white;
}
